extends layout

block content
  h2.text-center Request an Omny
  br
  #map
  section
    .container
      .row
        .col-md-10.col-md-offset-1
          form#booking-form(action="#")
            .row
              .col-sm-6.col-md-4
                legend Destination
                .form-group
                  label(for='city') City*
                  select.form-control#city(name="city" required)
                    option(value="San Francisco" selected) San Francisco Bay Area
                    //- option(value="Los Angeles") Los Angeles
                .form-group
                  label(for='location') Place Name or Address*
                  input#autocomplete.form-control(placeholder='Enter the place name or address' type='text' required)
                  input#place(name="place" type="hidden")
                  input#address(name="address" type="hidden")
                  input#lat(name="lat" type="hidden")
                  input#lng(name="lng" type="hidden")
                legend Traveler
                .form-group
                  label(for='name') Traveler's Full Name*
                  input#name.form-control(name="name" required)
                .form-group
                  label(for='email') Traveler's Email*
                  input#email.form-control(name="email" required)
                .form-group
                  label(for='phone' required) Traveler's Phone Number*
                  input#phone.form-control(placeholder='+1-555-555-5555', type='text')

              .col-sm-6.col-md-4
                legend Date & Time
                //- .form-group
                //-   label(for='rate') Choose Your Rate 
                //-   .row              
                //-     .col-xs-3.col-input-left
                //-       .btn.btn-primary.btn-block Hourly
                //-     .col-xs-3.col-input-center
                //-       .btn.btn-default.btn-block Half Day
                //-     .col-xs-3.col-input-center
                //-       .btn.btn-default.btn-block Full Day
                //-     .col-xs-3.col-input-right
                //-       .btn.btn-default.btn-block >1 Day
                .form-group
                  .row
                    .col-xs-5.col-input-left
                      label(for='startsOnMonth') Month*
                      select#starts-on-month.form-control(name='startsOnMonth' required)
                        option  - Month - 
                        option(value='January') January
                        option(value='Febuary') Febuary
                        option(value='March') March
                        option(value='April') April
                        option(value='May') May
                        option(value='June') June
                        option(value='July') July
                        option(value='August') August
                        option(value='September') September
                        option(value='October') October
                        option(value='November') November
                        option(value='December') December
                    .col-xs-3.col-input-center
                      label(for='startsOnDay') Day*
                      select#starts-on-day.form-control(name='startsOnDay' required)
                        option  - Day - 
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                        option(value='9') 9
                        option(value='10') 10
                        option(value='11') 11
                        option(value='12') 12
                        option(value='13') 13
                        option(value='14') 14
                        option(value='15') 15
                        option(value='16') 16
                        option(value='17') 17
                        option(value='18') 18
                        option(value='19') 19
                        option(value='20') 20
                        option(value='21') 21
                        option(value='22') 22
                        option(value='23') 23
                        option(value='24') 24
                        option(value='25') 25
                        option(value='26') 26
                        option(value='27') 27
                        option(value='28') 28
                        option(value='29') 29
                        option(value='30') 30
                        option(value='31') 31
                    .col-xs-4.col-input-right
                      label(for='startsOnYear') Year*
                      select#starts-on-year.form-control(name='startsOnYear' required)
                        option  - Year - 
                        option(value='2016') 2016
                        option(value='2017') 2017
                        option(value='2018') 2018
                .form-group
                  .row
                    .col-xs-6.input-left
                      .form-group
                        label(for='startsAt') Start Time*
                        select#starts-at.form-control(name="startsAt" required)
                          option(value="08:00:00" selected) 8:00am
                          option(value="08:30:00") 8:30am
                          option(value="09:00:00") 9:00am
                          option(value="09:30:00") 9:30am
                          option(value="10:00:00") 10:00am
                          option(value="10:30:00") 10:30am
                          option(value="11:00:00") 11:00am
                          option(value="11:30:00") 11:30am
                          option(value="12:00:00") 12:00pm
                          option(value="12:30:00") 12:30pm
                          option(value="13:00:00") 1:00pm
                          option(value="13:30:00") 1:30pm
                          option(value="14:00:00") 2:00pm
                          option(value="14:30:00") 2:30pm
                          option(value="15:00:00") 3:00pm
                          option(value="15:30:00") 3:30pm
                          option(value="16:00:00") 4:00pm
                          option(value="16:30:00") 4:30pm
                          option(value="17:00:00") 5:00pm
                          option(value="17:30:00") 5:30pm
                          option(value="18:00:00") 6:00pm
                          option(value="18:30:00") 6:30pm
                          option(value="19:00:00") 7:00pm
                          option(value="19:30:00") 7:30pm
                          option(value="20:00:00") 8:00pm
                          option(value="20:30:00") 8:30pm
                          option(value="21:00:00") 9:00pm
                          option(value="21:30:00") 9:30pm
                          option(value="22:00:00") 10:00pm
                          option(value="22:30:00") 10:30pm
                          option(value="23:00:00") 11:00pm
                          option(value="23:30:00") 11:30pm
                          option(value="00:00:00") 12:00am
                          option(value="00:30:00") 12:30am
                          option(value="01:00:00") 1:00am
                          option(value="01:30:00") 1:30am
                          option(value="02:00:00") 2:00am
                          option(value="02:30:00") 2:30am
                          option(value="03:00:00") 3:00am
                          option(value="03:30:00") 3:30am
                          option(value="04:00:00") 4:00am
                          option(value="04:30:00") 4:30am
                          option(value="05:00:00") 5:00am
                          option(value="05:30:00") 5:30am
                          option(value="06:00:00") 6:00am
                          option(value="06:30:00") 6:30am
                          option(value="07:00:00") 7:00am
                          option(value="07:30:00") 7:30am
                    .col-xs-6.input-right
                      .form-group
                        label(for='endsAt') Finishing Time*
                        select#ends-at.form-control(name="endsAt" required)
                          option(value="08:00:00") 8:00am
                          option(value="08:30:00") 8:30am
                          option(value="09:00:00") 9:00am
                          option(value="09:30:00") 9:30am
                          option(value="10:00:00") 10:00am
                          option(value="10:30:00") 10:30am
                          option(value="11:00:00") 11:00am
                          option(value="11:30:00") 11:30am
                          option(value="12:00:00") 12:00pm
                          option(value="12:30:00") 12:30pm
                          option(value="13:00:00") 1:00pm
                          option(value="13:30:00") 1:30pm
                          option(value="14:00:00") 2:00pm
                          option(value="14:30:00") 2:30pm
                          option(value="15:00:00") 3:00pm
                          option(value="15:30:00") 3:30pm
                          option(value="16:00:00") 4:00pm
                          option(value="16:30:00") 4:30pm
                          option(value="17:00:00" selected) 5:00pm
                          option(value="17:30:00") 5:30pm
                          option(value="18:00:00") 6:00pm
                          option(value="18:30:00") 6:30pm
                          option(value="19:00:00") 7:00pm
                          option(value="19:30:00") 7:30pm
                          option(value="20:00:00") 8:00pm
                          option(value="20:30:00") 8:30pm
                          option(value="21:00:00") 9:00pm
                          option(value="21:30:00") 9:30pm
                          option(value="22:00:00") 10:00pm
                          option(value="22:30:00") 10:30pm
                          option(value="23:00:00") 11:00pm
                          option(value="23:30:00") 11:30pm
                          option(value="00:00:00") 12:00am
                          option(value="00:30:00") 12:30am
                          option(value="01:00:00") 1:00am
                          option(value="01:30:00") 1:30am
                          option(value="02:00:00") 2:00am
                          option(value="02:30:00") 2:30am
                          option(value="03:00:00") 3:00am
                          option(value="03:30:00") 3:30am
                          option(value="04:00:00") 4:00am
                          option(value="04:30:00") 4:30am
                          option(value="05:00:00") 5:00am
                          option(value="05:30:00") 5:30am
                          option(value="06:00:00") 6:00am
                          option(value="06:30:00") 6:30am
                          option(value="07:00:00") 7:00am
                          option(value="07:30:00") 7:30am
                  .text-muted Times are in the time zone of your destination
                  br
                  legend Instructions & Referral
                  .form-group
                    label(for='instructions') Details
                    textarea.form-control(name="instructions" rows="5" placeholder='Are you attending an event or meeting anyone?', type='text')

              .row
                .col-sm-6.col-md-4
                  legend Fare & Confirmation
                  //- .form-group
                  //-   label(for='city') Referral Code
                  //-   input.form-control#referral-code(placeholder="" name="referralCode")
                  .text-muted We will contact you within 24 hours to confirm your booking.
                  br
                  .lead
                    .clearfix
                      .pull-left
                        b Delivery Fee: 
                      .pull-right
                        | $#[span#deliveryFee 25]
                    .clearfix
                      .pull-left
                        b Rental Fee: 
                      .pull-right
                        | $#[span#rentalFee 150]
                    hr
                    .clearfix
                      .pull-left
                        b Estimated Total Fee
                      .pull-right
                        | $#[span#totalFee ]
                  .form-group
                    label(for='referralCode') Referral or Coupon Code
                    input.form-control(name="referralCode" placeholder='', type='text')

                  button.btn.btn-primary.btn-lg.btn-block#request-teleporation(type="submit") Request Teleportation

  script(type='text/javascript').
    //- window.onbeforeunload = function() {
    //-   return "You will lose your work. Are you sure you want to navigate away?";
    //- }
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDKk2JgZEwGLEsq11G-NLv8j_vMMT-suzw&libraries=places&callback=initAutocomplete', async='', defer='')
  script(type="text/javascript" src='/javascripts/bookings.js')