extends layout

block content
  section
    .container
      .row
        .col-sm-8.col-sm-offset-2
          .list-group
            - each booking in bookings
              .list-group-item
                p
                  = booking.name
                p
                  = booking.phone
                p
                  = booking.place
                p
                  = booking.address
                p
                  = booking.startsAt
                p
                  = booking.hours

