extends layout

block vars
  - var titleText = "Omny - Teleport for $65";
  - var descriptionText = "Be present anywhere in the San Francisco Bay Area. Instantly.";
  - var ogImageFile = "host.jpg"

block content
  section.jumbotron.teleport-pic.text-center
    br
    br
    br
    br
    h1 
      | Teleportation Services For Hire
    .lead
      | Teleport to and around the San Francisco Bay Area for as little as $65
    br
    br
    br
    br
    br
    br
    .row
      .col-xs-8.col-xs-offset-2
        form#contact-form.form-inline
          .form-group
            input.form-control.form-control-lg(name="email" autofocus="true" placeholder='jane.doe@gmail.com')
          .form-group
            input.form-control.form-control-lg(name="name" placeholder='Jane Doe')
          .form-group
            input.form-control.form-control-lg(name="phone" placeholder='555-555-5555')
          button.btn.btn-lg.btn-primary(type='submit') Join

    br
    .lead Use your name, email, and phone to request a booking or a free 10 min trial
    .lead - or -
    a.btn.btn-primary.btn-lg(href="/bookings/new") Request a Booking
    //- br
    //- | Sign up and share your code to try teleportation sooner.
    //- br
    //- | There are 2345 people in line ahead of you.

  section
    .container
      .row
        h2.text-center Compare Teleportating to Flying
          br
          | to a 2 Day Conference
        br
        .col-sm-4.col-sm-offset-2
          h3.text-center 
            i.icon.ion-plane.large 
            | Fly
          br
          p.lead
            | $450 - Flight
            br
            | $350 - Hotel
            br 
            | $150 - Bus/Car/Taxi 
            br
            | $150 - Food/Drink
            hr.dark
            p.lead 
              b $1100 - Total 
              br
              | 48 Hours away from your life
        .col-sm-4
          h3.text-center 
            i.icon.ion-radio-waves.large 
            | Teleport
          br
          p.lead
            | 2 x $25 - Delivery Fee
            br
            | 2 x $320 - Full Day Rental Fee
            br
            br
            br
            hr.dark
            p.lead 
              b $670 - Total
              br
              | 16 Hours away from your life
 
  hr
  section
    .container
      h2.text-center How Omny Works
      br
      .row
        .col-sm-4
          h2.text-center 
            i.icon.ion-calendar 
            | Schedule your Trip
          br
          p.lead #[a(href="/bookings/new") Book your trip] online at least 24 hours in advance. You will recieve a confirmation email with the code you'll need to log into your host.
        .col-sm-4
          h2.text-center 
            i.icon.ion-ios-cloud-download 
            | Download
          br
          p.lead Before your reservation begins download the #[a(href="https://itunes.apple.com/us/app/double/id589230178?mt=8") Double Robotics app] from the app store on your iPhone, iPad, or register an account at #[a(href="https://drive.doublerobotics.com") drive.doublerobotics.com].
        .col-sm-4
          h2.text-center 
            i.icon.ion-radio-waves 
            | Teleport
          br
          p.lead At the time of your reservation, use your confirmation code to log into your host and begin. When you are done, leave review of your experience. If you aren't 100% satisfied, we'll give you your money back.
  section
    .container
      .col-sm-10.col-sm-offset-1
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/ho1RDiZ5Xew?start=14" frameborder="0" allowfullscreen)
        //- img.img-responsive(src="/images/host.jpg")
  hr
  section
    .container
      h2.text-center Rates
      br
      .row
        .col-sm-6.col-sm-offset-3
          .list-group
            .list-group-item.clearfix.lead
              b.pull-left
                i.icon.ion-android-car 
                | Delivery Fee
              .pull-right $25
      .row
        .col-sm-6.col-sm-offset-3
          .list-group
            .list-group-item.clearfix.lead
              b.pull-left
                i.icon.ion-clock 
                | Hourly
              .pull-right $40/hour
            //- .list-group-item.lead
            //-   b
            //-     i.icon.ion-pie-graph
            //-     | Half Day (4 hours)
            //-   .pull-right $180 ($45/hour)
            //- .list-group-item.lead
            //-   b
            //-     i.icon.ion-calendar 
            //-     | Full Day (8 hours)
            //-   .pull-right $320 ($40/hour)


