extends layout

block vars
  - var titleText = "Omny - Teleport for $100";
  - var descriptionText = "Be present anywhere in the San Francisco Bay Area. Instantly.";
  - var ogImageFile = "host.jpg"

block content
  section.jumbotron.teleport-pic.text-center
    br
    br
    h1 
      | Teleportation Services For Hire
    .lead
      | Teleport to and around the San Francisco Bay Area for as little as $65
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .row
      .col-xs-8.col-xs-offset-2
        form#contact-form.form-inline
          .form-group
            input.form-control.form-control-lg(name="name" placeholder='Jane Doe')
          .form-group
            input.form-control.form-control-lg(name="email" autofocus="true" placeholder='jane.doe@gmail.com')
          .form-group
            input.form-control.form-control-lg(name="phone" placeholder='555-555-5555')
          button.btn.btn-lg.btn-primary(type='submit') Join

    br
    .lead Use your name, email, and phone to request a booking or a free 10 min trial
  
    //- br
    //- | Sign up and share your code to try teleportation sooner.
    //- br
    //- | There are 2345 people in line ahead of you.

  section
    .container
      .row
        h2.text-center Imagine Your Next 2 Day Conference
        br
        .col-sm-5.col-sm-offset-1
          h3.text-center 
            i.icon.ion-plane.large 
            | Fly
          br
          p.lead
            | 48 hours away from home
            br
            | $400 - Flight
            br
            | $400 - Hotel
            br 
            | $100 - Bus/Car/Taxi 
            br
            | $200 - Food/Drink
            hr
            p.lead 
              b $1100 - Total 
        .col-sm-5
          h3.text-center 
            i.icon.ion-radio-waves.large 
            | Teleport
          br
          p.lead
            | Work from anywhere
            br
            | 2 x $20 - Delivery Fee
            br
            | 2 x $300 - Full Day Rental Fee
            br
            br
            br
            hr
            p.lead 
              b $340 - Total 
  
  .container
    .col-xs-12
      img.img-responsive(src="/images/host.jpg")
  
  section
    .container
      h2.text-center How Omny Works
      br
      .row
        .col-sm-4
          h2.text-center 
            i.icon.ion-calendar 
            | Schedule your Trip
          br
          p.lead #[a(href="/bookings/new") Book a teleporation] online at least 24 hours in advance. You will recieve a confirmation email with the code you'll need to log into your host.
        .col-sm-4
          h2.text-center 
            i.icon.ion-ios-cloud-download 
            | Download
          br
          p.lead Before your reservation begins download the #[a(href="https://itunes.apple.com/us/app/double/id589230178?mt=8") Double Robotics app] from the app store on your iPhone, iPad, or register an account at #[a(href="https://drive.doublerobotics.com") drive.doublerobotics.com].
        .col-sm-4
          h2.text-center 
            i.icon.ion-radio-waves 
            | Teleport
          br
          p.lead At the time of your reservation, use your confirmation code to log into your host and begin. When you are done, stop and complete your review of your experience.