extends layout

block content
  section.jumbotron.host-pic.text-center
    h1 
      | Teleportation Services For Hire
    .lead
      | Teleport to and around the San Francisco Bay Area for as little as $100
    br
    br
    br
    br
    br
    br
    .row
      .col-xs-8.col-xs-offset-2
        form#earlyAdopterForm.form-inline
          .form-group
            input.form-control.form-control-lg(name="email" autofocus="true" placeholder='jane.doe@gmail.com')
          button.btn.btn-lg.btn-primary(type='submit') Join

    br
    | Sign up to join the private alpha
  
    //- br
    //- | Sign up and share your code to try teleportation sooner.
    //- br
    //- | There are 2345 people in line ahead of you.
    br
    br

  section
    .container
      h2.text-xs-center How it Works
      br
      .row
        .col-sm-4
          h4.text-xs-center 1. Schedule your Trip

          p
        .col-sm-4
          h4.text-xs-center 2. Teleport
          p
        .col-sm-4
          h4.text-xs-center 3. Connect with Humans
          p 