html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      block body
      
      p
        | Adam Braus 
        br
        | Omny - #[a(href="beomny.com") beomny.com]
        br
        | San Francisco, CA