extends email-layout

block body
  p
    strong Hi there Omny Teleport Technician
    p #{contact.name} just requested a teleportation
    p #{contact.email} - #{contact.phone}
  p Please get back to them within 24 hours. Thanks!